In [1]:
# import the required libraries

import pandas as pd

In [2]:
# reading the dataset

df = pd.read_csv("data.csv")

In [3]:
# Seeing the dimensions of the df dataframe

df.shape

(699, 11)

In [4]:
# top 5 rows

df.head()

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
0,1000025,5,1,1,1,2.0,1,3,1,1,2
1,1002945,5,4,4,5,NaN,10,3,2,1,2
2,1015425,3,1,1,1,2.0,2,3,1,1,2
3,1016277,6,8,8,1,3.0,4,3,7,1,2
4,1017023,4,1,1,3,2.0,1,3,1,1,2

In [5]:
# bottom 5 rows

df.tail()

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
694,776715,3,1,1,1,3.0,2,1,1,1,2
695,841769,2,1,1,1,2.0,1,1,1,1,2
696,888820,5,10,10,3,7.0,3,8,10,2,4
697,897471,4,8,6,4,3.0,4,10,6,1,4
698,897471,4,8,8,5,4.0,5,10,4,1,4

In [6]:
df.tail(10)

,ID,Clump_Thickness,Cell_Size_Uniformity,Cell_Shape_Uniformity,Marginal_Adhesion,Single_Epithelial_Cell_Size,Bare_Nuclei,Bland_Chromatin,Normal_Nucleoli,Mitoses,Cancer_Type
689,654546,1,1,1,1,2.0,1,1,1,8,2
690,654546,1,1,1,3,2.0,1,1,1,1,2
691,695091,5,10,10,5,4.0,5,4,4,1,4
692,714039,3,1,1,1,2.0,1,1,1,1,2
693,763235,3,1,1,1,2.0,1,2,1,2,2
694,776715,3,1,1,1,3.0,2,1,1,1,2
695,841769,2,1,1,1,2.0,1,1,1,1,2
696,888820,5,10,10,3,7.0,3,8,10,2,4
697,897471,4,8,6,4,3.0,4,10,6,1,4
698,897471,4,8,8,5,4.0,5,10,4,1,4

In [7]:
# Seeing the names of the columns in the dataframe

df.columns

Index(['ID', 'Clump_Thickness', 'Cell_Size_Uniformity',
       'Cell_Shape_Uniformity', 'Marginal_Adhesion',
       'Single_Epithelial_Cell_Size', 'Bare_Nuclei', 'Bland_Chromatin',
       'Normal_Nucleoli', 'Mitoses', 'Cancer_Type'],
      dtype='object')

In [8]:
# Selecting a single column

df['Bare_Nuclei']

0       1
1      10
2       2
3       4
4       1
5      10
6      10
7       1
8       1
9       1
10      1
11      1
12      3
13      3
14      9
15      1
16      1
17      1
18     10
19      1
20     10
21      7
22      1
23      ?
24      1
25      7
26      1
27      1
28      1
29      1
       ..
669     5
670     8
671     1
672     1
673     1
674     1
675     1
676     1
677     1
678     1
679     1
680    10
681    10
682     1
683     1
684     1
685     1
686     1
687     1
688     1
689     1
690     1
691     5
692     1
693     1
694     2
695     1
696     3
697     4
698     5
Name: Bare_Nuclei, Length: 699, dtype: object

In [9]:
# selecting multiple columns using names

df[['Bare_Nuclei', 'Cancer_Type']]

    Bare_Nuclei  Cancer_Type
0             1            2
1            10            2
2             2            2
3             4            2
4             1            2
5            10            4
6            10            2
7             1            2
8             1            2
9             1            2
10            1            2
11            1            2
12            3            4
13            3            2
14            9            4
15            1            4
16            1            2
17            1            2
18           10            4
19            1            2
20           10            4
21            7            4
22            1            2
23            ?            4
24            1            2
25            7            4
26            1            2
27            1            2
28            1            2
29            1            2
..          ...          ...
669           5            4
670           8            4
671           1            2
672           1            2
673           1            2
674           1            2
675           1            2
676           1            2
677           1            2
678           1            2
679           1            2
680          10            4
681          10            4
682           1            2
683           1            2
684           1            2
685           1            2
686           1            2
687           1            2
688           1            2
689           1            2
690           1            2
691           5            4
692           1            2
693           1            2
694           2            2
695           1            2
696           3            4
697           4            4
698           5            4

[699 rows x 2 columns]